<main class="py-5">
  <div class="container-fluid w-100 d-flex">
    <div id="recipe-details" class="row flex-fill">
      <div class="col-12 col-md-6 justify-content-start">
        <section class="form-section d-flex flex-column justify-content-center align-items-center" style="min-height: 250px; min-width: 250px">
          <i class="fas fa-plus fa-3x"></i>
          <div class="mt-4">
            Dra bild hit eller bläddra
          </div>
          <div class="form-group mt-3">
            <input type="file" class="form-control-file" id="exampleFormControlFile1">
          </div>
        </section>
        <form class="my-3 d-flex flex-column">
          <section class="form-group">
            <label for="portion-size">Välj antal portioner receptet är avsett för</label>
            <select class="custom-select" id="portion-size">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option selected value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
            </select>
          </section>
          <section class="form-group mt-2">
            <div class="d-flex justify-content-between align-items-center">
              <div id="add-new-ingredient">
                <label class="" for="add-new-ingredient">Lägg till ingrediens, antal, enhet och vikt i gram</label>
              <div class="typeahead__container">
                <div class="typeahead__field">
                  <div class="typeahead__query">
                    <input class="typeahead-ingredients w-100 mb-2" name="q" type="search" autocomplete="off" id="ingredient" placeholder="Ingrediens" class="add-ingredient">
                  </div>
                </div>
              </div>
              <input class="w-25 add-volume mr-2 py-1" placeholder=" Antal">
              <select class="custom-select w-25 mr-2" id="add-unit">
                <option selected value="unit">enhet</option>
                <option value="kdm">kryddmått</option>
                <option value="tsk">tesked</option>
                <option value="msk">matsked</option>
                <option value="dl">deciliter</option>
                <option value="ml">milliliter</option>
                <option value="cl">centiliter</option>
                <option value="l">liter</option>
                <option value="g">gram</option>
                <option value="hg">hekto</option>
                <option value="kg">kilogram</option>
                <option value="st">styck</option>
              </select>
              <input class="w-25 add-weight py-1 mr-2" placeholder=" Vikt i g">
              <i class="ml-4 fas fa-plus fa-1point5 btn-add-ingredient" role="button"></i>
            </div>
            </div>
            <section class="added-ingredient"></section>
            
          </section>
          
          <p class="small">Om receptet har olika mängder av ingredienserna beroende på hur många portioner som tillagas kan du här välja att lägga till ytterligare en referens till med en annan ingrediensmängd</p>
          <section class="form-section d-flex flex-column justify-content-center align-items-center">
            <i class="btn-add-ingredient-info fas fa-plus fa-3x mt-2"></i>
            <div class="add-reference mt-2 mb-1">
              Lägg till referens
            </div>
            <div class="hide-reference mt-2 mb-1 d-none">
              Dölj referens
            </div>
          </section>

          <article class="d-none added-ingredient-info mt-2">
            <section class="form-group">
              <label for="added-portion-size">Välj antal portioner receptet är avsett för</label>
              <select class="custom-select" id="secondary-portion-size">
                <option selected>Antal portioner</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
              </select>
            </section>
            <section class="form-group mt-2">
              <div class="d-flex justify-content-between align-items-center">
                <div id="second-add-new-ingredient">
                  <label class="" for="second-add-new-ingredient">Lägg till ingrediens, antal, enhet och vikt i gram</label>
                <div class="typeahead__container">
                  <div class="typeahead__field">
                    <div class="typeahead__query">
                      <input class="secondary-typeahead-ingredients w-100 mb-2" name="q" type="search" autocomplete="off" id="second-ingredient"
                        placeholder="Ingrediens" class="secondary-add-ingredient">
                    </div>
                  </div>
                </div>
                <input class="w-25 secondary-add-volume mr-2 py-1" placeholder=" Antal">
                <select class="custom-select w-25 mr-2" id="secondary-add-unit">
                  <option selected>enhet</option>
                  <option value="kdm">kryddmått</option>
                  <option value="tsk">tesked</option>
                  <option value="msk">matsked</option>
                  <option value="dl">deciliter</option>
                  <option value="ml">milliliter</option>
                  <option value="cl">centiliter</option>
                  <option value="l">liter</option>
                  <option value="g">gram</option>
                  <option value="hg">hekto</option>
                  <option value="kg">kilogram</option>
                  <option value="st">styck</option>
                </select>
                <input class="w-25 secondary-add-weight py-1 mr-2" placeholder=" Vikt i g">
                <i class="ml-4 fas fa-plus fa-1point5 secondary-btn-add-ingredient" role="button"></i>
              </div>
              </div>
              <section class="secondary-added-ingredient"></section>
              
            </section>
          </article>
          
        </form>
      </div>

      
        <div class="col-12 col-md-6 flex-fill">
            <form>
          <div class="">
            <section class="form-group">
              <label for="title">Receptets namn : </label>
              <input placeholder=" T.ex. 'Pad Thai'" id="title" class="w-100 mb-2">
            </section>
            <section class=" form-group mb-3">
              <label for="difficulty">Uppskatta tid i minuter: </label>
              <select class="custom-select" id="cooking-time">
                <option value="15">15</option>
                <option selected value="30">30</option>
                <option value="45">45</option>
                <option value="60">60</option>
                <option value="90">90</option>
                <option value="120">120</option>
                <option value="150+">150+</option>
              </select>
            </section>
            <section class="form-group mb-3 mt-3">
              <label for="difficulty">Uppskatta svårighetsgrad: </label>
              <select class="custom-select" id="difficulty">
                <option value="easy">Lätt</option>
                <option selected value="medium">Medel</option>
                <option value="hard">Svår</option>
              </select>
            </section>
            <section class="form-group">
              <label for="summary">Sammanfattning: </label>
                <textarea class="form-control w-100" id="summary" rows="3" placeholder="T.ex. 'En fräsch och kryddig kycklingrätt med smak av lime, vitlök och ostronsås.'"></textarea>
            </section>
            <section class="form-group mt-2">
              <label for="instruction">Lägg till instruktion:</label>
              <textarea class="mx-0 add-instruction w-100" id="instruction" rows="2" placeholder="T.ex. 'Skär kamelen i bitar innan du steker den i rikligt med smör'"></textarea>
              <i class="pl-2 fas fa-plus fa-1point5 btn-add-instruction pull-right mr-2"></i>
              <section class="added-instructions mt-4"></section>
            </section>
            <section class="form-group mt-2">
              <label for="additional-info">Lägg till tips (frivillig):</label>
              <textarea class="mx-0 add-instruction w-100" id="additional-info" rows="2" placeholder="Det går lika bra med selleri"></textarea>
            </section>
          </div>
          <section class="checkboxes" id="find-table">
            <p class="text-bold">Recepttyp</p>
            <label class="w-25"><input type="checkbox" value="kött"> Kött</label>
            <label class="w-25"><input type="checkbox" value="vego"> Vego</label>
            <label class="w-25"><input type="checkbox" value="fisk"> Fisk</label>
            <label class="w-25"><input type="checkbox" value="soppa"> Soppa</label>
            <label class="w-25"><input type="checkbox" value="pizza"> Pizza</label>
            <label class="w-25"><input type="checkbox" value="gryta"> Gryta</label>
            <label class="w-25"><input type="checkbox" value="långkok"> Långkok</label>
            <label class="w-25"><input type="checkbox" value="laktosfri"> Laktosfri</label>
          </section>
          <section class="">
            <p class="mt-3 pull-right" role="button"><span class="btn-add-recipe instructions-icons pb-2 pt-2">Lägg till receptet</span><span class="d-none add-success">Ditt recept är tillagt!</span></p>
          </section>
        </form>
        </div>
      
    </div>
  </div>
</main>