#shopping-list li, #ingredient-list li {
    font-size: 16px;
    list-style: none;
}

.fa-print {
    font-size: 3em;
    padding: 5px;
}

.fa-print:hover {
    background-color: aqua;
}

.check {
    font-size: 20px !important;
}